header, div button{
    margin-top: 20px;
}

header a{
    margin-left: 15px;
}
a i {
font-size: 20px;
}
div h1{
    font-size: 55px;
    margin-top: 220px;
    font-weight: bolder;
}
.input-box{
    height: 70px;
    width: 100%;
   border: 2px solid black;
   border-radius: 20px;
   margin-top: 10px;
}
 .placeholder-input{
color: grey;

}
.input-box i{
    font-size: 20px;
    margin-top: 20px;
}

footer{
    margin-top: 230px;
} 
footer a{
    margin-left: 20px;
}