body{
    background-color: #D9EEE1;
}
nav p{
    font-weight: bolder;
    font-size: 17px;
    /* text-align: center; */
    margin-top: 13px;
}
nav{
    background-color: white;
    /* position: fixed;
    top: 2; */
}
nav p:hover{
    background-color: #5cb85c;
}
div>i{
 font-size: 20px;
 margin-top: 22px;
 margin-left: 7px;
}
div>button{
    /* border-radius: 95px; */
    margin-left: 10px;
}
section{
    background-color: #282a35;
    height: 430px;
}
section p{
 margin-top: 140px;
 font-size: 80px;
 color: white;
 font-weight: bolder;
}
section h3{
    color: pink;
    word-spacing: 5px;
}
input{
    padding: 10px;
    width: 55%;
    border-radius:25px;
}
section button{
    margin-left: -30px;
    height: 42px;
    width: 80px;
    border-left: 3px solid #5cb85c;
    border-radius: 80px;
    /* padding: 2px; */
}
section h2{
    color: white;
    text-decoration: underline;
}